@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Open+Sans&family=Poppins&display=swap');
body{
    /* background-color: #0B0C10; */
    
        background-image: url('assets/btech1.png');
   
}
.logo{
    display:flex;
    padding-left: 30px;
    margin-top: 10px;
}
.icon{
    padding-left: 40px;
}
.events{
    text-align: center;
    font-family: Helvetica;
    font-size: large;
    color: white;
    margin-bottom: 60px;
    /* font-family: 'space mono'; */
    font-weight: bold;
    font-size: 40px;
}

#registerbtn {
    align-content: left;
    color: black;
    background-color: white;
    font-weight: 600;
    font-size: 1.8vw;
    width: 12vw;
    height: 4vw;
    border: 3px solid rgba(102, 252, 241, 0.69);
    border-radius: 25px;
    margin: 1.8vw 0 5vw;
    cursor: pointer;
    z-index: 0;
    position: absolute;
    top: 2.2em;
    right: 10%;
    margin-left: -2em;
    margin-top: -45px;
    
}

#registerbtn:hover {
    color: #000000;
    background-color: rgba(29, 244, 229, 0.904);
}

.hamburger {
    position: absolute;
    top: 4.5em;
    right: 3%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 10px;
    z-index: 5;
    cursor: pointer;
}

.hamburger div {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color:aqua;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card{
    padding-top: 20px;
    border-radius: 20px;
}
.gap{
    margin-left: 20px;
}
.middle{
    margin-left: 218px;
}
.new-card {
    width: 320px;
    height: 462px;
    padding-top: 20px;
    border-radius: 20px;
}
.sports-box{
    font-family:'space mono';
    font-weight: 700;    
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-left: 35px;
    background-color: white;
    width: 240px;
    height: 75px;
    /* display: flex; */
    border-radius: 23px;
    border: 3px black solid;
}
.sports-box:hover{
    opacity: 80%;
}
.sports{
    text-align: center;
    font-family:'space mono';
    font-weight: bolder;    
    font-size: 18px;
    letter-spacing: 0.5px;
}
.football{
    margin: auto;
    margin-top: 177px;
    width: 220px;
    height: 49px; 
}
.catch-spirit{
    margin: auto;
    width: 220px; 
    height: 37px; 
}
.match{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 34px;
    justify-content: center;
    /* gap: 10px; */
}
.team1{
    width: 100px;
    height: 100%;
}
.vs{
    height: 100%;
    width: 60px;
}
a{
    text-decoration: none;
}
.team2{
    height: 100%;
    width: 100px;
}
.lorem{
    margin: auto;
    margin-top: 9px;
    width: 280px;
    height: 43px;
}
.info{
    margin: auto;
    margin-top: 7px;
    width: 220px;
    height: 34px;
}
.flip-card {
    /* margin-left: 223px; */
    display: inline-block;
    background-color: transparent;
    width: 320px;
    height: 462px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

.events-box{
    margin-top: 80px;
    width: 100%;
    height: 140px;
    background-color: #46A29F;
    display: flex;
    align-items: center;
}
.button{
    margin-left: 60px;
            font-family: Helvetica;
            height: 75px;
    width: 220px;
    background-color: #46A29F;
    border: 2px solid black;
    border-radius: 27px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.new1{
    width:160px;
    height:75px;
}
.new{
    display: none;
}
.old1{
    width: 200px;
    height: 75px;
}
.abc{
    text-decoration: none;
    font-size: 45px;
    font-weight: 600;
    color: white;
    font-family: 'Helvetica';
    position: absolute;
    right: 120px;
}
.hid{
    display: none;
}
@media screen and (max-width: 800px) {
    .register-wide {
        display: none;
    }
    .hid{
        display: block;
    }
    .abc{
        display: none;
    }
    .gap{
        margin-left: calc(50% - 150px);
    }
    .new1{
        height: 60px;
        width: 130px;
    }
    body{
        padding-bottom: 760px;
    }
    .events{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .new{
        display: block;
    }
    .old{
        display: none;
    }
    .old1{
        height: 60px;
        width: 130px;
    }
    .hidden{
        display: none;
    }
    .sail{
        height: 60px;
    }
    * {
        /* background-color: rgba(11, 12, 16, 0.95); */
        /* background-image: url('assets/btech1.png'); */
        background-repeat: no-repeat;
        max-height: 100vw;
        max-width: 100vw;

    }

    .register-mob {
        background-image: url(assets/btech1.png);
        display: block;
        color: #FFFFFF;
        position: relative;
        text-align: center;
        justify-content: center;
        font-size: 3.2vw;
        padding-top: 15vw;
        padding-bottom: 10vw;
    }

    #registerbtn-mob {
        background-image: url(assets/btech1.png);
        color: #FFFFFF;
        font-weight: 600;
        font-size: 3.6vw;
        width: 23vw;
        height: 8vw;
        border: 3px solid rgba(102, 252, 241, 0.69);
        border-radius: 25px;
        margin: 4vw 0 8vw;
    }

    #registerbtn-mob:hover {
        color: #000000;
        background-color: rgba(29, 244, 229, 0.904);
    }
}

.button:hover{
    background-color: white;
    color: black;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
.eventsinfo{
    margin-left: 30px;
    margin-right: 60px;
    width: 800px;
    height: 75px;
    /* background-color: #0B0C10; */
    font-family: Helvetica;
    color: white;
    display: none;
}

#toggle {
    display: none;
}




.carousel-control{
    width: 5%;
}
.carousel{
    overflow: hidden;
    white-space: nowrap;
}
/**
Nav Styles
**/
.nav {
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}
.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}
nav {
    text-align:right;
    margin-left: 25%;
    padding-top: 50px;;
}
nav a {
    margin-right: 5%;

    position: relative;
    text-decoration: none;
    color:aqua;
    font-size: 1.3em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}
nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}
nav a:hover {
    color: white;
}
nav a:hover:before {
    height: 100%;
}


.about {
    
    background-color: #46A29F;
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    transition-duration: .5s;
    justify-content: center;
    
}

#aboutbtn {
    background: transparent;
    box-sizing: border-box;
    font-size: 1.5vw;
    color: #FFFFFF;
    font-weight: 700;
    width: 20vw;
    height: 5.5vw;
    margin: 2% 2% 2% 4%;
    border: 3px solid #000000;
    border-radius: 40px;
    transition-property: color background-color;
    transition-duration: .5s;
    /* cursor: pointer; */
}

#aboutbtn:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.aboutpara {
    /* display: none; */
    /* visibility: hidden; */
    margin-top: 50px;
    position: relative;
    top: -13px;
    font-family: 'Poppins';
    font-size: large;
    background: transparent;
    padding: 3% 8% 2% 0%;
    transition-property: visibility;
    transition-duration: .1s;
    color: #FFFFFF;
}

/**
Animations
**/

#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
    cursor: pointer;
}
#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    cursor: pointer;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -4px;
    cursor: pointer;
}

#toggle:checked + .hamburger + .nav {
    top: 0;
    cursor: pointer;
    transform: scale(1);
}

.hamcontainer:hover {
    cursor: pointer;
}
.hamcontainer {
    background-color: red;
}
/* .cheers{

    visibility: hidden;
    position: relative;
    margin: 2% 2% 2% 2%;
    top: 2em;
  
} */
.carousel-inner
{
    position: relative;
}
