
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');
/* .btn{
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 622px;
    justify-content: center;
    border-radius:30px;
    width: 9vw;
    height: 7vh;
      text-decoration: aliceblue;
     background-color: rgb(0, 0, 0);
    color: black;
    border: 2px solid #02cdc9; 
} */
html {
  height: 100%;
  width: 100%;
}
/* body {
  max-height: 100%;
  max-width: 100%;
   background-color: rgb(4, 6, 7); 

} */
body{
  background-image: url('assets/btech1.png');
}

/* .removeanimation {
  display: none;
  opacity: 0;
} */

/* width: 99vw;
height:6.2vw; */
.paradiv {
  text-align: center;
}
.para{
color: aliceblue;
position: relative;
max-width: 70%;

/* left:  50%;
top: -20px;
bottom: 200px; */
font-family: 'Space Mono';
}

.head{
    margin-left: 20px;
    font-family: Helvetica;
        color: rgb(0, 234, 255);
        width: 63vw;
        height: 25vh;
        font-size: 120px;
        

}
.heading img{
   width: 130px;
   position: relative;
   top: -10px;
   

}
.heading
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* width: 10vw;
    height: 6vh; */
    /* position: relative; */
    justify-content: center; 
    left: 180px;
    bottom: -70px;
    /* height: -60vh;
    width:-25vw; */

}
@media screen and (max-width : 958px) {

    .head{
      font-size: 60px;
    
    }
    .heading img{

    width: 80px;
    top: -50px;

    
    }
     .button{
       
         position: relative;
         left: 400px;
     
    } 
    .para{

left: 180px;
right: 180px;
font-family: Helvetica;



    }





}
@media screen and (max-width : 648px)
{
  .button{

  font-size: 10px;
  position: relative;
  top: 80px;

  }



}
@media screen and (max-width : 600px)
{
  .button{

  font-size: 10px;
  position: relative;
  top: 80px;
  left: 200px;

  }
  .para{

    font-family: 'Poppins';
   left: 30px;

  }
  .heading{
  left: 50px;

  }



}
.hidden{
  display: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-family: Helvetica;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Space Mono';
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  left: 630px;
  width: 130px;
  border-radius: 30px
  ;
}
.button1 {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
  border: 2px solid #13e3e3;
}

.button1:hover {
  background-color: #13e3e3;
  color: rgb(0, 0, 0);
}